.form_controller{
    background-color: rgb(255 255 255);
    width: 55%;
    padding: 1rem;
    margin: auto;
    margin-top: 10rem;
    border-radius: 0.3rem;
    box-shadow: 4px 5px 20px 0px #ebd9d9;
}